In [29]:
import mysql.connector

In [41]:

    conn = mysql.connector.connect(user='root',
                               password='evilprince75',
                               host='localhost',
                               port=3306)
    if(conn.is_connected()):
        print('connected')
        sql= 'SHOW DATABASES'
        myc = conn.cursor()
        myc.execute(sql)
        for d in myc:
            print(d)
        myc.close
        conn.close()

connected
('dbt2',)
('information_schema',)
('mysql',)
('pdb',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [52]:
try:
    
    conn = mysql.connector.connect(user='root',
                               password='evilprince75',
                               host='localhost',
                               database='pdb',    
                               port=3306)
    if(conn.is_connected()):
        print('connected')
except:
        print('Unable to connect')
sql = 'CREATE TABLE student1(stuid INT AUTO_INCREMENT PRIMARY KEY, name VARCHAR(20), roll INT, fees FLOAT)'
myc = conn.cursor()
myc.execute(sql)
myc.close()
conn.close()

connected

In [55]:
try:
    
    conn = mysql.connector.connect(user='root',
                               password='evilprince75',
                               host='localhost',
                               database='world',    
                               port=3306)
    if(conn.is_connected()):
        print('connected')
except:
        print('Unable to connect')
sql = 'SHOW TABLES'
myc = conn.cursor()
myc.execute(sql)
for t in myc:
    print(t)
myc.close()
conn.close()

connected
('city',)
('country',)
('countrylanguage',)

In [65]:
try:
    
    conn = mysql.connector.connect(user='root',
                               password='evilprince75',
                               host='localhost',
                               database='pdb',    
                               port=3306)
    if(conn.is_connected()):
        print('connected')
except:
        print('Unable to connect')
sql = 'INSERT INTO student(name, roll, fees) VALUES("Rohan", 97, 10000.52), ("jai", 98, 20000.52), ("veeru", 99, 30000.52)'
myc = conn.cursor()
try:
    myc.execute(sql)
    conn.commit()
    print('row inserted')
except:
    conn.roolback()
    print('Unable to Insert Data')
myc.close()
conn.close()

connected
row inserted

In [62]:
try:
    
    conn = mysql.connector.connect(user='root',
                               password='evilprince75',
                               host='localhost',
                               database='pdb',    
                               port=3306)
    if(conn.is_connected()):
        print('connected')
except:
        print('Unable to connect')
sql = 'SHOW TABLES'
myc = conn.cursor()
myc.execute(sql)
for t in myc:
    print(t)
myc.close()
conn.close()

connected
('student',)
('student1',)

In [66]:
try:
    
    conn = mysql.connector.connect(user='root',
                               password='evilprince75',
                               host='localhost',
                               database='pdb',    
                               port=3306)
    if(conn.is_connected()):
        print('connected')
except:
        print('Unable to connect')
sql = 'INSERT INTO student(name, roll, fees) VALUES("Sonam", 100, 10000.52), ("Jyoti", 101, 20000.52), ("Aman", 102, 30000.52)'
myc = conn.cursor()
try:
    myc.execute(sql)
    conn.commit()
    print(myc.rowcount,'row inserted')
except:
    conn.roolback()
    print('Unable to Insert Data')
myc.close()
conn.close()

connected
3 row inserted

In [67]:
try:
    
    conn = mysql.connector.connect(user='root',
                               password='evilprince75',
                               host='localhost',
                               database='pdb',    
                               port=3306)
    if(conn.is_connected()):
        print('connected')
except:
        print('Unable to connect')
sql = 'INSERT INTO student(name, roll, fees) VALUES("Sonam", 100, 10000.52), ("Jyoti", 101, 20000.52), ("Aman", 102, 30000.52)'
myc = conn.cursor()
try:
    myc.execute(sql)
    conn.commit()
    print(myc.lastrowid)
except:
    conn.roolback()
    print('Unable to Insert Data')
myc.close()
conn.close()

connected
14

In [68]:
try:
    
    conn = mysql.connector.connect(user='root',
                               password='evilprince75',
                               host='localhost',
                               database='pdb',    
                               port=3306)
    if(conn.is_connected()):
        print('connected')
except:
        print('Unable to connect')
sql = 'DELETE FROM Student WHERE stuid = 14'
myc = conn.cursor()
try:
    myc.execute(sql)
    conn.commit()
    print(myc.rowcount,'Row Deleted')
except:
    conn.roolback()
    print('Unable to Delete Data')
myc.close()
conn.close()

connected
1 Row Deleted

In [69]:
try:
    
    conn = mysql.connector.connect(user='root',
                               password='evilprince75',
                               host='localhost',
                               database='pdb',    
                               port=3306)
    if(conn.is_connected()):
        print('connected')
except:
        print('Unable to connect')
sql = 'UPDATE student SET fees=200 WHERE stuid = 15'
myc = conn.cursor()
try:
    myc.execute(sql)
    conn.commit()
    print(myc.rowcount,'fees updated')
except:
    conn.roolback()
    print('Unable to Update Data')
myc.close()
conn.close()

connected
1 fees updated

In [73]:
#fetchone
try:
    
    conn = mysql.connector.connect(user='root',
                               password='evilprince75',
                               host='localhost',
                               database='pdb',    
                               port=3306)
    if(conn.is_connected()):
        print('connected')
except:
        print('Unable to connect')
sql = 'SELECT * from student'
myc = conn.cursor()
try:
    myc.execute(sql)
    row = myc.fetchone()
    while row is not None:
        print(row)
        row = myc.fetchone()
    print('Total Rows',myc.rowcount)
except:
    conn.roolback()
    print('Unable to Show Data')
myc.close()
conn.close()

connected
(1, 'Suryansh', 98, 10000.5)
(2, 'Suryansh', 98, 10000.5)
(3, 'Aashray', 95, 10000.5)
(4, 'Sumit', 95, 10000.5)
(5, 'Rahul', 95, 10000.5)
(6, 'Hrithik', 95, 10000.5)
(7, 'Rohan', 97, 10000.5)
(8, 'Rohan', 97, 10000.5)
(9, 'jai', 98, 20000.5)
(10, 'veeru', 99, 30000.5)
(11, 'Sonam', 100, 10000.5)
(12, 'Jyoti', 101, 20000.5)
(13, 'Aman', 102, 30000.5)
(15, 'Jyoti', 101, 200.0)
(16, 'Aman', 102, 30000.5)
Total Rows 15

In [74]:
try:
    
    conn = mysql.connector.connect(user='root',
                               password='evilprince75',
                               host='localhost',
                               database='pdb',    
                               port=3306)
    if(conn.is_connected()):
        print('connected')
except:
        print('Unable to connect')
sql = 'SELECT * from student'
myc = conn.cursor()
try:
    myc.execute(sql)
    row = myc.fetchone()
    while row is not None:
        stuid = row[0]
        name = row[1]
        roll = row[2]
        fees = row[3]
        print(f'stud ID: {stuid} Name: {name} Roll {roll} Fees: {fees}')
        row = myc.fetchone()
    print('Total Rows',myc.rowcount)
except:
    conn.roolback()
    print('Unable to Show Data')
myc.close()
conn.close()

connected
stud ID: 1 Name: Suryansh Roll 98 Fees: 10000.5
stud ID: 2 Name: Suryansh Roll 98 Fees: 10000.5
stud ID: 3 Name: Aashray Roll 95 Fees: 10000.5
stud ID: 4 Name: Sumit Roll 95 Fees: 10000.5
stud ID: 5 Name: Rahul Roll 95 Fees: 10000.5
stud ID: 6 Name: Hrithik Roll 95 Fees: 10000.5
stud ID: 7 Name: Rohan Roll 97 Fees: 10000.5
stud ID: 8 Name: Rohan Roll 97 Fees: 10000.5
stud ID: 9 Name: jai Roll 98 Fees: 20000.5
stud ID: 10 Name: veeru Roll 99 Fees: 30000.5
stud ID: 11 Name: Sonam Roll 100 Fees: 10000.5
stud ID: 12 Name: Jyoti Roll 101 Fees: 20000.5
stud ID: 13 Name: Aman Roll 102 Fees: 30000.5
stud ID: 15 Name: Jyoti Roll 101 Fees: 200.0
stud ID: 16 Name: Aman Roll 102 Fees: 30000.5
Total Rows 15

In [75]:
try:
    
    conn = mysql.connector.connect(user='root',
                               password='evilprince75',
                               host='localhost',
                               database='pdb',    
                               port=3306)
    if(conn.is_connected()):
        print('connected')
except:
        print('Unable to connect')
sql = 'SELECT name,roll from student'
myc = conn.cursor()
try:
    myc.execute(sql)
    row = myc.fetchone()
    while row is not None:
        print(row)
        row = myc.fetchone()
    print('Total Rows',myc.rowcount)
except:
    conn.roolback()
    print('Unable to Show Data')
myc.close()
conn.close()

connected
('Suryansh', 98)
('Suryansh', 98)
('Aashray', 95)
('Sumit', 95)
('Rahul', 95)
('Hrithik', 95)
('Rohan', 97)
('Rohan', 97)
('jai', 98)
('veeru', 99)
('Sonam', 100)
('Jyoti', 101)
('Aman', 102)
('Jyoti', 101)
('Aman', 102)
Total Rows 15

In [80]:
#fetchall
try:
    
    conn = mysql.connector.connect(user='root',
                               password='evilprince75',
                               host='localhost',
                               database='pdb',    
                               port=3306)
    if(conn.is_connected()):
        print('connected')
except:
        print('Unable to connect')
sql = 'SELECT * from student'
myc = conn.cursor()
try:
    myc.execute(sql)
    rows = myc.fetchall()
    for r in rows:
        stuid = r[0]
        name = r[1]
        roll = r[2]
        fees = r[3]
        print(f'stud ID: {stuid} Name: {name} Roll {roll} Fees: {fees}')
        row = myc.fetchone()
    print('Total Rows',myc.rowcount)
except:
    conn.roolback()
    print('Unable to Show Data')
myc.close()
conn.close()

connected
stud ID: 1 Name: Suryansh Roll 98 Fees: 10000.5
stud ID: 2 Name: Suryansh Roll 98 Fees: 10000.5
stud ID: 3 Name: Aashray Roll 95 Fees: 10000.5
stud ID: 4 Name: Sumit Roll 95 Fees: 10000.5
stud ID: 5 Name: Rahul Roll 95 Fees: 10000.5
stud ID: 6 Name: Hrithik Roll 95 Fees: 10000.5
stud ID: 7 Name: Rohan Roll 97 Fees: 10000.5
stud ID: 8 Name: Rohan Roll 97 Fees: 10000.5
stud ID: 9 Name: jai Roll 98 Fees: 20000.5
stud ID: 10 Name: veeru Roll 99 Fees: 30000.5
stud ID: 11 Name: Sonam Roll 100 Fees: 10000.5
stud ID: 12 Name: Jyoti Roll 101 Fees: 20000.5
stud ID: 13 Name: Aman Roll 102 Fees: 30000.5
stud ID: 15 Name: Jyoti Roll 101 Fees: 200.0
stud ID: 16 Name: Aman Roll 102 Fees: 30000.5
Total Rows 15

In [84]:
#fetchmany
try:
    
    conn = mysql.connector.connect(user='root',
                               password='evilprince75',
                               host='localhost',
                               database='pdb',    
                               port=3306)
    if(conn.is_connected()):
        print('connected')
except:
        print('Unable to connect')
sql = 'SELECT * from student'
myc = conn.cursor(buffered= True)
try:
    myc.execute(sql)
    rows = myc.fetchmany(size=5)
    for r in rows:
        stuid = r[0]
        name = r[1]
        roll = r[2]
        fees = r[3]
        print(f'stud ID: {stuid} Name: {name} Roll {roll} Fees: {fees}')
        row = myc.fetchone()
    print('Total Rows',myc.rowcount)
except:
    conn.roolback()
    print('Unable to Show Data')
myc.close()
conn.close()

connected
stud ID: 1 Name: Suryansh Roll 98 Fees: 10000.5
stud ID: 2 Name: Suryansh Roll 98 Fees: 10000.5
stud ID: 3 Name: Aashray Roll 95 Fees: 10000.5
stud ID: 4 Name: Sumit Roll 95 Fees: 10000.5
stud ID: 5 Name: Rahul Roll 95 Fees: 10000.5
Total Rows 15